<?xml version="1.0"?>
<launch>
  <group ns="rtabmap">

    <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_ros/rgbd_sync" output="screen">
      <remap from="rgb/image"       to="/rrbot/camera/color/image_raw"/>
      <remap from="depth/image"     to="/rrbot/camera/depth/image_raw"/>
      <remap from="rgb/camera_info" to="/rrbot/camera/color/camera_info"/>
      <remap from="rgbd_image"      to="rgbd_image"/> <!-- output -->

      <!-- Should be true for not synchronized camera topics
           (e.g., false for kinectv2, zed, realsense, true for xtion, kinect360)-->
      <param name="approx_sync"       value="true"/>
    </node>

    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
          <param name="frame_id" type="string" value="ddr/depth_camera"/>
          <param name="Rtabmap/DetectionRate" type="string" value="30"/>
          <param name="subscribe_depth" type="bool" value="false"/>
          <param name="subscribe_rgbd" type="bool" value="true"/>

          <remap from="odom" to="/roboto_diff_drive_controller/odom"/>

          <remap from="rgbd_image" to="rgbd_image"/>

          <param name="queue_size" type="int" value="1"/>

          <!-- RTAB-Map's parameters -->


	  <param name="proj_max_ground_height" value="0.1"/>
	  <param name="RGBD/AngularUpdate"        type="string" value="0.001"/>
          <param name="RGBD/AngularUpdate"        type="string" value="0.001"/>
          <param name="RGBD/LinearUpdate"         type="string" value="0.001"/>
          <param name="RGBD/OptimizeFromGraphEnd" type="string" value="false"/>
	  <param name="Grid/CellSize"                   type="double"     value="0.05"/>

    </node>
  </group>

<node pkg="tf" type="static_transform_publisher" name="camera_ddr_broadcaster" args=" 0 0 -.05 -1.57079632679 0 -1.57079632679 ddr/base_link ddr/camera_link 100"/>
<node pkg="tf" type="static_transform_publisher" name="depth_ddr_broadcaster" args=" 0 0 0 0 -1.57079632679 0 ddr/camera_link ddr/depth_camera 100"/>
<!--
rosrun tf static_transform_publisher 0 0 0 0 1.57079632679 0 ddr/camera_link ddr/depth_camera 10
-->
</launch>
